<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Create Request</h3>
      <div class="message">{{ message }}</div>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
      <div class="card-body">
        <div class="1submit-form">
          <div *ngIf="!submitted">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group mb-1">
                  <label for="registrationName" class="mb-1">Registration</label>
                  <input
                    type="text"
                    class="form-control"
                    id="registrationName"
                    required
                    [ngModel]="currentRegistration.name"
                    name="registrationName"
                    readonly
                  />
                  <input
                    type="hidden"
                    class="form-control"
                    id="registrationId"
                    required
                    [(ngModel)]="request.registrationId"
                    name="registrationId"
                    readonly
                  />
                </div>
              </div>
                <div class="col-sm-4">
                  <div class="form-group mb-1">
                    <label for="service" class="mb-1">Service</label>
                    <input
                      type="text"
                      class="form-control"
                      id="service"
                      required
                      [(ngModel)]="request.service"
                      name="service"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group mb-1">
                    <label for="pickupPoint" class="mb-1">Pickup Point</label>
                    <input
                        type="pickupPoint"
                      class="form-control"
                      id="pickupPoint"
                      required
                      [(ngModel)]="request.pickupPoint"
                      name="pickupPoint"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group mb-1">
                    <label for="destination" class="mb-1">Destination</label>
                    <input
                        type="text"
                      class="form-control"
                      id="destination"
                      required
                      [(ngModel)]="request.destination"
                      name="destination"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group mb-1">
                    <label for="appointmentDate" class="mb-1">Doctor Appointment Time</label>
                    <div class="row">
                      <div class="col-6">
                        <input
                        type="date"
                      class="form-control"
                      id="appointmentDate"
                      required
                      [ngModel]="request.appointmentDate | date: 'yyyy-MM-dd'"
                      (ngModelChange)="request.appointmentDate = $event"
                      name="appointmentDate"
                    />
                      </div>
                      <div class="col-6">
                        <input
                        type="time"
                      class="form-control"
                      id="appointmentTime"
                      required
                      [ngModel]="request.appointmentTime | date: 'HH:mm'"
                      (ngModelChange)="request.appointmentTime = $event"
                      name="appointmentTime"
                    />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group mb-1">
                    <label for="pickupDate" class="mb-1">Pickup Time From Home</label>
                    <div class="row">
                      <div class="col-6">
                        <input
                        type="date"
                      class="form-control"
                      id="pickupDate"
                      required
                      [ngModel]="request.pickupDate | date: 'yyyy-MM-dd'"
                      (ngModelChange)="request.pickupDate = $event"
                      name="pickupDate"
                    />
                      </div>
                      <div class="col-6">
                        <input
                        type="time"
                      class="form-control"
                      id="pickupTime"
                      required
                      [ngModel]="request.pickupTime | date: 'HH:mm'"
                      (ngModelChange)="request.pickupTime = $event"
                      name="pickupTime"
                    />
                      </div>
                    </div> 
                  </div>
                </div>
              </div>
              <div class="row">
                
                <div class="col-sm-4">
                  <div class="form-group mb-1">
                    <label for="wheelChairAssisstance" class="mb-1">Wheel Chair Assisstance Requried</label>
                    <select class="custom-select form-control" 
                    id="wheelChairAssisstance" 
                    name="wheelChairAssisstance"
                    required
                    [(ngModel)]="request.wheelChairAssisstance">
                    <option>No</option>  
                    <option>Yes</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group mb-1">
                    <label for="userComments" class="mb-1">User Comments</label>
                    <input
                        type="text"
                      class="form-control"
                      id="userComments"
                      required
                      [(ngModel)]="request.userComments"
                      name="userComments"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group mb-1">
                    <label for="comments" class="mb-1">Comments</label>
                    <input
                        type="text"
                      class="form-control"
                      id="comments"
                      required
                      [(ngModel)]="request.comments"
                      name="comments"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                
                <div class="col-sm-4">
                  <div class="form-group mb-1">
                    <label for="status" class="mb-1">Status</label>
                    <select class="custom-select form-control" 
                    id="status" 
                    name="status"
                    required
                    [(ngModel)]="request.status">
                      <option>New</option>
                      <option>Booked</option>
                      <option>Completed</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4"></div>
              </div>
              <div class="row">
                
                <div class="col-sm-4">
                  <div class="form-group mb-1">
                    <label for="vendor" class="mb-1">Vendor</label>
                    <input
                        type="text"
                      class="form-control"
                      id="vendor"
                      required
                      [(ngModel)]="request.vendor"
                      name="vendor"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group mb-1">
                      <label for="contactPerson" class="mb-1">Contact Person</label>
                      <input
                          type="text"
                        class="form-control"
                        id="contactPerson"
                        required
                        [(ngModel)]="request.contactPerson"
                        name="contactPerson"
                      />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group mb-1">
                      <label for="contactNumber" class="mb-1">Contact Number</label>
                      <input
                          type="text"
                        class="form-control"
                        id="contactNumber"
                        required
                        [(ngModel)]="request.contactNumber"
                        name="contactNumber"
                      />
                    </div>
                </div>
              </div>
              <div class="row">
                
                <div class="col-sm-4"></div>
              </div>
<!--
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group mb-1">
                  <label for="registrationId" class="mb-1">Registration</label>
                  <input
                    type="text"
                    class="form-control"
                    id="registrationId"
                    required
                    [(ngModel)]="request.registrationId"
                    name="registrationId"
                    readonly
                  />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group mb-1">
                  <label for="service" class="mb-1">Service</label>
                  <input
                    type="text"
                    class="form-control"
                    id="service"
                    required
                    [(ngModel)]="request.service"
                    name="service"
                  />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group mb-1">
                  <label for="wheelChairAssisstance" class="mb-1">Wheel Chair Assisstance Requried</label>
                  <select class="custom-select form-control" 
                  id="wheelChairAssisstance" 
                  name="wheelChairAssisstance"
                  required
                  [(ngModel)]="request.wheelChairAssisstance">
                  <option>No</option>  
                  <option>Yes</option>
                  </select>
                  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group mb-1">
                  <label for="pickupPoint" class="mb-1">Pickup Point</label>
                  <input
                      type="pickupPoint"
                    class="form-control"
                    id="pickupPoint"
                    required
                    [(ngModel)]="request.pickupPoint"
                    name="pickupPoint"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group mb-1">
                  <label for="destination" class="mb-1">Destination</label>
                  <input
                      type="text"
                    class="form-control"
                    id="destination"
                    required
                    [(ngModel)]="request.destination"
                    name="destination"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group mb-1">
                  <label for="pickupDate" class="mb-1">Pickup Time</label>
                  <div class="row">
                    <div class="col-6">
                      <input
                      type="date"
                    class="form-control"
                    id="pickupDate"
                    required
                    [(ngModel)]="request.pickupDate"
                    name="pickupDate"
                  />
                    </div>
                    <div class="col-6">
                      <input
                      type="time"
                    class="form-control"
                    id="pickupTime"
                    required
                    [(ngModel)]="request.pickupTime"
                    name="pickupTime"
                  />
                    </div>
                  </div>  
                  
                  
                  
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group mb-1">
                  <label for="appointmentDate" class="mb-1">Appointment Time</label>
                  <div class="row">
                    <div class="col-6">
                      <input
                      type="date"
                    class="form-control"
                    id="appointmentDate"
                    required
                    [(ngModel)]="request.appointmentDate"
                    name="appointmentDate"
                  />
                    </div>
                    <div class="col-6">
                      <input
                      type="time"
                    class="form-control"
                    id="appointmentTime"
                    required
                    [(ngModel)]="request.appointmentTime"
                    name="appointmentTime"
                  />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group mb-1">
                  <label for="userComments" class="mb-1">User Comments</label>
                  <input
                      type="text"
                    class="form-control"
                    id="userComments"
                    required
                    [(ngModel)]="request.userComments"
                    name="userComments"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group mb-1">
                  <label for="status" class="mb-1">Status</label>
                  <select class="custom-select form-control" 
                  id="status" 
                  name="status"
                  required
                  [(ngModel)]="request.status">
                    <option>New</option>
                    <option>Booked</option>
                    <option>Completed</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group mb-1">
                  <label for="comments" class="mb-1">Comments</label>
                  <input
                      type="text"
                    class="form-control"
                    id="comments"
                    required
                    [(ngModel)]="request.comments"
                    name="comments"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group mb-1">
                  <label for="vendor" class="mb-1">Vendor</label>
                  <input
                      type="text"
                    class="form-control"
                    id="vendor"
                    required
                    [(ngModel)]="request.vendor"
                    name="vendor"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group mb-1">
                    <label for="contactPerson" class="mb-1">Contact Person</label>
                    <input
                        type="text"
                      class="form-control"
                      id="contactPerson"
                      required
                      [(ngModel)]="request.contactPerson"
                      name="contactPerson"
                    />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group mb-1">
                    <label for="contactNumber" class="mb-1">Contact Number</label>
                    <input
                        type="text"
                      class="form-control"
                      id="contactNumber"
                      required
                      [(ngModel)]="request.contactNumber"
                      name="contactNumber"
                    />
                  </div>
              </div>
            </div>
            -->
          </div>
          
        </div>
      </div>
      <!-- /.card-body -->
  
      <div class="card-footer">
        <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>
      </div>
    </form>
  </div>
  <!-- /.card -->